<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Banao</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        {% if user.Types_of_Users == "Doctor" %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'post'%}">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'showAppointment'%}">Appointment</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'all_doctor'%}">Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'PatientAppointment'%}">Appointment detail</a>
          </li>
        {% endif %}
      </ul>
      <li>
        <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in">Logout</a>
        <form action="{% url 'logout' %}" id="logout" method="POST">
            {% csrf_token %}
            <input type="hidden">
        </form>
      </li>
    </div>
  </nav>