{% extends 'base.html' %}

{% block 'title' %}Petient Appointemnt{% endblock 'title' %}

{% block 'page_body' %}

<div class="container">
    <div class="row">
        <div class="col-lg-11 col-md-11">
            {% include 'home/messages.html' %}
            <div class="card-deck">
                <div class="card">
                    {% if items %}
                        {% for item in items %}
                        <div class="card-body">
                            <h5 class="card-title">Doctor Name : {{item.doctor_name}}</h5>
                            <p class="card-text">Your Name : {{item.patient_name}}</p>
                            <p class="card-text">speciality : {{item.speciality}}</p>
                            <p class="card-text">date : <b>{{item.date}}</b></p>
                            <p class="card-text">Start Time : {{item.start_Time}}</p>
                            <p class="card-text">End Time : {{item.end_time}}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    {% else %}
                        <h3>No data</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'page_body' %}