{% extends 'base.html' %}

{% block 'title' %}Appointemnt{% endblock 'title' %}

{% block 'page_body' %}

<div class="container">
    <div class="row">
        <div class="col-lg-11 col-md-11">
            <a href="https://calendar.google.com/calendar/u/0/embed?src=mgvajulokdn99ps47eb2g02728@group.calendar.google.com&ctz=UTC" target="_blank"><button type="button" class="btn btn-primary">Show Appointment in Claender</button></a>
            {% include 'home/messages.html' %}
            <div class="card-deck">
                <div class="card">
                    {% if items %}
                        {% for item in items %}
                        <div class="card-body">
                            <p class="card-text">Patient Name : {{item.patient_name}}</p>
                            <p class="card-text">speciality :{{item.speciality}}</p>
                            <p class="card-text">date :<b>{{item.date}}</b></p>
                            <p class="card-text">Start Time :{{item.start_Time}}</p>
                            <p class="card-text">End Time :{{item.end_time}}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    {% else %}
                        <h3>No data</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'page_body' %}